header {
    height: 100vh;
    margin-top: 7rem;
    overflow: hidden;
}

.header_container {
    text-align: center;
    height: 100vh;
    position: relative;

}
/* CTA */

.cta {
    margin-top: 2.5rem;
    display: flex;
    gap: 1rem;
    justify-content: center;
}
/* Social */
.socials {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    position: absolute;
    left: 0;
    bottom: 3rem;

}

.socials::after{
    content: '';
    width: 1px;
    height: 2rem;
    background: var(--color-primary);
}

/* image */



/* Scroll */
.scroll_down {
    position: absolute;
    right: -2.3rem;
    bottom: 5rem;
    transform: rotate(90deg);
    font-weight: 300;
    font-size: 0.9rem;
    color: var(--color-primary);
    transition: var(--transition);
}

.scroll_down:hover{
    color: white;
}
/* Media Query(Tabs)Medium Size*/

@media screen and (max-width: 1024px){
    header {
        height: 68vh;

    }
}

/* Media Query(Phones)Small Size*/

@media screen and (max-width: 600px){
    header{
        height: 100vh;
    }
    .socials,
    .scroll_down{
        display: none;

    }
}